.sidebar {
  border-right: 1px solid var(--twitter-background);
  margin-top: 20px;
  padding: 0 20px;
  flex: 0.3;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin: 0 0 20px 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
